/* src/index.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f8f9fa; /* Color de fondo claro */
}

/* Clases de utilidad para efectos */
.hover-glow-info:hover {
  color: #0dcaf0 !important; /* Bootstrap info color */
  text-shadow: 0 0 8px rgba(13, 202, 240, 0.7);
  transition: all 0.2s ease-in-out;
}

.hover-glow-primary:hover {
  color: #0d6efd !important; /* Bootstrap primary color */
  text-shadow: 0 0 8px rgba(13, 110, 253, 0.7);
  transition: all 0.2s ease-in-out;
}